html, body {
  margin: 0;
  padding: 0;
}

#container {
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#catfish {
  position: absolute;
  width: 100%;
  height: 136px;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

#catfish-img {
  position: absolute;
  width: 100%;
}

#content-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#content-inner {
  width: 100%;
}

.content-wrapper {
  width: 100%;
  background-color: purple;
}

.indy-content-img {
  width: 100%;
}

.content {
  position: absolute;
  width: 100%;
}

#indy-header {
  width: 100%;
  background-color: white;
  height: 100px;
}

#indy-logo {
  position: absolute;
  top: 10px;
  left: 40px;
}

#indy-content-part1 {
  width: 100%;
}

#adFrame-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#adFrame {
  position: absolute;
  width: 100%;
  height: 100%;
}

#adSpace {
  background-color: transparent;
}