/* MAIN ELEMENTS -------------------*/
body, html{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
img{
	position:absolute
}
#content{
	width: 720px;
  	height: 1280px;
  	background-color: white;
	overflow:hidden;
	position: absolute;
	left: 0;
	top: 0;
}
#bg, #bg2{
	width: 100%;
	height: 100%;
}
#bg2{
	left:720px;
}
#scene1, #scene2{
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
}
#scene2{
	left:720px;
/*	background-color:pink;*/
}
/* VIDEO PLAYER -----------------------*/
#video-wrapper{
	width:540px;
	height:960px;
	background-color:black;
	position:absolute;
	overflow: hidden;
}
#vid {
	position: absolute;
	width: 100%;
}
/* CONTENT ELEMENTS -------------------*/
#date{
	top:15px;
	right:15px;
}
#rope{
	left:55px;	
}
#title{
	top:35px;
	left:20px;
}
#minionL1{
	left:-40px;
	bottom:120px;
}
#minionL2{
	left:-20px;
	bottom:275px;	
}
#minionR1{
	right:-17px;
	bottom:75px;
}
#minionT1{
	top:40px;
	left:280px;
}
#minionT2{
	top:60px;
	right:40px;
}
#cta{
	bottom:135px;
}
/* ORANGE BAR -------------------*/
#moreContent{
	width:5px;
	height:100%;
	right:0;
	background-color:#f08008;
	position:absolute;
}
.circle {
	height: 80px;
	width: 40px;
	left:-40px;
	border-bottom-left-radius: 80px;
	border-top-left-radius: 80px;
	background-color:#f08008;
	position:absolute;
}
#arrow{
	right:5px;
}

/* SWIPE BAR --------------------*/
#swipeBar{
	width:100%;
	height:50px;
	bottom:25px;
	position:absolute;
}
#greyDiv{
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.3;
	position:absolute;
}
#copyWrapper{
	width:350px;
	height:100%;
	position:absolute;
}
#arrow-v2{
	right:0;
}